@charset "utf-8";
/* CSS Document */
h1 {
	font-family: Arial;
	font-weight: bolder
}

h3 {
	font-family: Arial;
	font-weight: 100
}

p {
	font-family: Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	direction: rtl
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
	text-decoration-line: underline
}

li h3 {
	float: right
}